{%- assign newsletter_block = section.blocks | where: 'type', 'newsletter' | first -%}

{%- if section.blocks.size > 3 -%}
  <style>
    @media screen and (min-width: 1000px) {
      #shopify-section-{{ section.id }} {
        {%- if newsletter_block != blank -%}
          --footer-block-list-gap: var(--spacing-10);
        {%- endif -%}

        --footer-block-list-justify-content: space-between;
      }
    }
  </style>
{%- endif -%}
<footer class="footer  bg-[#000] lg:p-10 p-2 text-white">
    <div class="container mx-auto">
        {%- if section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'newsletter' -%}
                  <div class="footer__top grid lg:grid-cols-5 grid-cols-1">
                      <div class="footer__logo col-span-1 lg:border lg:border-solid border-none border-stone-800 lg:p-5 p-3 flex justify-center">
                        {%- if block.settings.image != blank -%}
                          {{-
                              block.settings.image
                              | image_url: width: 2024
                              | image_tag: loading: 'lazy', widths: '100,300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600',
                              class:'h-full self-center w-auto'
                          -}}
                        {%- endif -%}
                          {% comment %} <img src="img/logo.png" class="w-1/2" alt=""> {% endcomment %}
                      </div>
                      <div class="footer__subscribe col-span-2 lg:border lg:border-solid border-none border-stone-800 !lg:px-5 px-1 flex flex-col justify-center pl-1 lg:pl-10">
                          {%- if block.settings.title != blank -%}
                          <h1 class="text-[20px] lg:text-[1.5rem]">{{- block.settings.title | escape -}}</h1>
                          {%- endif -%}
                          {%- if block.settings.content != blank -%}
                          <h4 class="mt-2">{{- block.settings.content -}}</h4>
                          {%- endif -%}
                      </div>
                      <div class="footer__form col-span-2 lg:border lg:border-solid border-none border-stone-800 lg:p-5 lg:py-0 py-3 p-1 flex flex-col justify-center">
                        {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form form max-w-full' -%}
                          {%- if form.posted_successfully? -%}
                            {%- capture success_message -%}{{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
                            {%- render 'banner', content: success_message, status: 'success' -%}
                          {%- else -%}
                            {%- if form.errors -%}
                              {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                              {%- render 'banner', content: error_message, status: 'error' -%}
                            {%- endif -%}
    
                            <input type="hidden" name="contact[tags]" value="newsletter">
    
                            {%- capture label -%}{{ 'general.newsletter.email' | t }}{%- endcapture -%}
                            {%- render 'input',
                              name: 'contact[email]',
                              label: label,
                              placeholder: 'Email',
                              type: 'email',
                              required: true,
                              autocomplete: 'email',
                              enterkeyhint: 'send',
                              self_submit: true
                            -%}
                          {%- endif -%}
                        {%- endform -%}
                                
                          
                      </div>
                  </div>
            {%- endcase -%}
          {%- endfor -%}
        {%- endif -%}

        <div class="footer__middle lg:grid hidden lg:grid-cols-3 grid-cols-1">
            <div class="footer__about lg:border lg:border-solid border-none border-stone-800 lg:p-10 p-1">
                <h1>About</h1>
                <ul class="flex flex-col gap-2 !pt-7">
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer__shop lg:border lg:border-solid border-none border-stone-800 lg:p-10 p-1">
                <h1>Shop</h1>
                <ul class="flex flex-col gap-2 !pt-7">
                    <li><a href="#">Products</a></li>
                    <li><a href="#">collections</a></li>
                </ul>
            </div>
            <div class="footer__support lg:border lg:border-solid border-none border-stone-800 lg:p-10 p-1">
                <h1>Support</h1>
                <ul class="flex flex-col gap-2 !pt-7">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">General Enquiry</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__mobile_middle lg:hidden display-block flex flex-col">
          
              <button class="accordion my-5 !bg-transparent text-[#e9442c] ">About</button>
              <div class="panel !bg-transparent">
                <ul class="flex flex-col gap-2">
                  <li><a href="#">Our story</a></li>
                  <li><a href="#">Affiliates</a></li>
              </ul>
              </div>

              <button class="accordion my-5 !bg-transparent">Shop</button>
              <div class="panel !bg-transparent">
                <ul class="flex flex-col gap-2">
                  <li><a href="#">Products</a></li>
                  <li><a href="#">collections</a></li>
              </ul>
              </div>

              <button class="accordion my-5 !bg-transparent">Support</button>
              <div class="panel !bg-transparent">
                <ul class="flex flex-col gap-2">
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">General Enquiry</a></li>
              </ul>
              </div>
      
        </div>

        <div class="footer__bottom flex justify-center mt-2 lg:text-left text-center">
           
            <div class="px-10">
                <a href="#">2023 Rosies Essentials</a>
            </div>
          
            
        </div>
    </div>
</footer>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>

{% comment %} <div class="footer">
  <div class="container">
    <div class="footer__wrapper">
      {%- comment -%}
        ------------------------------------------------------------------------------------------------------------------
        BLOCK AREA
        ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- if section.blocks.size > 0 -%}
        <div class="footer__block-list empty:hidden">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                {%- if block.settings.title != blank
                  or block.settings.content != blank
                  or shop.features.follow_on_shop?
                  and section.settings.enable_follow_on_shop
                -%}
                  <div class="footer__block footer__block--text" {{ block.shopify_attributes }}>
                    {%- if block.settings.title != blank -%}
                      <p class="bold">{{ block.settings.title | escape }}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
                      <div class="follow-on-shop">
                        {{- shop | login_button: action: 'follow' -}}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}

              {%- when 'links' -%}
                {%- if block.settings.menu != blank -%}
                  <div class="footer__block footer__block--menu" {{ block.shopify_attributes }}>
                    {%- if block.settings.show_menu_title -%}
                      <p class="bold">{{ block.settings.menu.title }}</p>
                    {%- endif -%}

                    <ul class="v-stack gap-3" role="list">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="inline-block link-faded break-all">{{ link.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}

              {%- when 'newsletter' -%}
                <div class="footer__block footer__block--newsletter" {{ block.shopify_attributes }}>
                  {%- if block.settings.image != blank -%}
                    {%- capture sizes -%}{{ block.settings.image_width }}px{%- endcapture -%}
                    {%- capture widths -%}{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 | at_most: block.settings.image.width }}{%- endcapture -%}
                    {%- capture style -%}max-width: {{ block.settings.image_width }}px{%- endcapture -%}
                    {{-
                      block.settings.image
                      | image_url: width: block.settings.image.width
                      | image_tag: loading: 'lazy', style: style, sizes: sizes, widths: widths
                    -}}
                  {%- endif -%}

                  <div class="v-stack gap-6">
                    {%- if block.settings.title != blank -%}
                      <p class="{{ block.settings.heading_size }}">{{- block.settings.title | escape -}}</p>
                    {%- endif -%}

                    {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form form' -%}
                      {%- if form.posted_successfully? -%}
                        {%- capture success_message -%}{{ 'general.newsletter.subscribed_successfully' | t }}{%- endcapture -%}
                        {%- render 'banner', content: success_message, status: 'success' -%}
                      {%- else -%}
                        {%- if form.errors -%}
                          {%- capture error_message -%}{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}{%- endcapture -%}
                          {%- render 'banner', content: error_message, status: 'error' -%}
                        {%- endif -%}

                        <input type="hidden" name="contact[tags]" value="newsletter">

                        {%- capture label -%}{{ 'general.newsletter.email' | t }}{%- endcapture -%}
                        {%- render 'input',
                          name: 'contact[email]',
                          label: label,
                          type: 'email',
                          required: true,
                          autocomplete: 'email',
                          enterkeyhint: 'send',
                          self_submit: true
                        -%}
                      {%- endif -%}
                    {%- endform -%}

                    {%- if block.settings.content != blank -%}
                      <div class="prose text-subdued">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}

                    {%- comment -%}
                      ----------------------------------------------------------------------------------------------------------------
                      SOCIAL MEDIA + LOCALIZATION
                      ----------------------------------------------------------------------------------------------------------------
                    {%- endcomment -%}

                    {%- if section.settings.show_social_media -%}
                      {%- capture social_media -%}{%- render 'social-media' -%}{%- endcapture -%}
                    {%- endif -%}

                    {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
                      {%- assign country_selector = true -%}
                    {%- endif -%}

                    {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
                      {%- assign locale_selector = true -%}
                    {%- endif -%}

                    {%- if social_media != blank or country_selector or locale_selector -%}
                      <div class="footer__aside-top">
                        {{- social_media -}}

                        {%- if country_selector or locale_selector -%}
                          <div class="h-stack gap-6">
                            {%- if social_media == blank -%}
                              {%- assign popover_horizontal_position = 'start' -%}
                            {%- else -%}
                              {%- assign popover_horizontal_position = 'end' -%}
                            {%- endif -%}

                            {%- if country_selector -%}
                              {%- render 'localization-selector',
                                type: 'country',
                                show_country_name: section.settings.show_country_name,
                                show_country_flag: section.settings.show_country_flag,
                                popover_horizontal_position: popover_horizontal_position
                              -%}
                            {%- endif -%}

                            {%- if locale_selector -%}
                              {%- render 'localization-selector',
                                type: 'locale',
                                popover_horizontal_position: popover_horizontal_position
                              -%}
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

      {%- comment -%}
        ------------------------------------------------------------------------------------------------------------------
        SECONDARY AREA
        ------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      <div class="footer__aside empty:hidden">
        {%- comment -%}
          ----------------------------------------------------------------------------------------------------------------
          COPYRIGHT + PAYMENT METHODS
          ----------------------------------------------------------------------------------------------------------------
        {%- endcomment -%}

        <div class="footer__aside-bottom">
          {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
            <div class="footer__payment-icons h-stack wrap gap-2">
              {%- for type in shop.enabled_payment_types -%}
                {{- type | payment_type_svg_tag -}}
              {%- endfor -%}
            </div>
          {%- endif -%}

          <p class="footer__copyright text-sm text-subdued">
            © {{ 'now' | date: '%Y' }}, {{ shop.name }}. All Rights Reserved <br>
            <span style="display: inline-block;margin-top: 0.5rem;">
              Designed by
              <a href="https://malkain.com" target="_blank" style="color:#FFFFFF;margin-top:0.5rem">Malkain.com </a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "tag": "footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "info": "To configure social media, go to your social media settings.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [markets settings.](/admin/settings/markets)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_flag",
      "label": "Show country flag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_name",
      "label": "Show country name",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "label": "Show Follow on Shop",
          "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)",
          "default": true
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items.",
          "default": "footer"
        },
        {
          "type": "checkbox",
          "id": "show_menu_title",
          "label": "Show menu title",
          "default": true
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "600 x 600px .png recommended"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 150
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Title size",
          "options": [
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Sign up to our newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
