{%- comment -%}
  IMPLEMENTATION NOTE: Impact header with all the menu is an extremely complex piece of code. Due to requirements from design
  team, we had to cover over hundred of potential combinations. As a consequence, this part (and all the menu snippets) are
  extremely sensitive code that should (if possible) not be touched unless you have spend enough time to study and understand
  the underlying logic of the menu.
{%- endcomment -%}

{%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
  {%- assign will_show_country_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
  {%- assign will_show_locale_selector = true -%}
{%- endif -%}

{% comment %} {% assign collections = section.blocks | where: 'type', 'collection' | reverse %} {% endcomment %}

<style>
  :root {
    --sticky-header-enabled: {%- if section.settings.enable_sticky -%}1{% else %}0{% endif %};
  }

  #shopify-section-{{ section.id }} {
    --header-grid-template: "main-nav logo secondary-nav" / minmax(0, 1fr) auto minmax(0, 1fr);
    --header-padding-block: {% if section.settings.reduce_padding %}var(--spacing-3){% else %}var(--spacing-4-5){% endif %};
    --header-background-opacity: {{ section.settings.background_opacity | divided_by: 100.0 }};
    --header-background-blur-radius: {{ section.settings.background_blur_radius }}px;
    --header-transparent-text-color: {{ section.settings.transparent_header_text_color.rgb }};

    {%- if section.settings.logo != blank -%}
      --header-logo-width: {{ section.settings.logo_mobile_max_width }}px;
      --header-logo-height: {{ section.settings.logo_mobile_max_width | divided_by: section.settings.logo.aspect_ratio | round }}px;
    {%- endif -%}

    position: {% if section.settings.enable_sticky %}sticky{% else %}relative{% endif %};
    top: 0;
    z-index: 10;
  }

  {%- if section.settings.enable_sticky -%}
    .shopify-section--announcement-bar ~ #shopify-section-{{ section.id }} {
      top: calc(var(--sticky-announcement-bar-enabled, 0) * var(--announcement-bar-height, 0px));
    }
  {%- endif -%}

  {%- if section.settings.opening_from == 'left' -%}
    @media screen and (max-width: 699px) {
      .navigation-drawer {
        --drawer-content-max-height: calc(100vh - (var(--spacing-2) * 2));
      }
    }
  {%- endif -%}

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} {
      {%- if section.settings.logo != blank -%}
        --header-logo-width: {{ section.settings.logo_max_width }}px;
        --header-logo-height: {{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio | round }}px;
      {%- endif -%}

      --header-padding-block: {% if section.settings.reduce_padding %}var(--spacing-6){% else %}var(--spacing-8-5){% endif %};
    }
  }

  {%- if section.settings.layout contains 'logo_left' -%}
    @media screen and (min-width: 1150px) {
      {%- if section.settings.secondary_menu != blank or will_show_country_selector or will_show_locale_selector -%}
        {%- assign max_percent = '55%' -%}
      {%- else -%}
        {%- assign max_percent = '70%' -%}
      {%- endif -%}

      #shopify-section-{{ section.id }} {
        --header-grid-template: "logo main-nav secondary-nav" / {% if section.settings.layout == 'logo_left_navigation_inline' %}auto minmax(0, 1fr) minmax(0, max-content){% else %}minmax(0, 1fr) fit-content({{ max_percent }}) minmax(0, 1fr){% endif %};
      }
    }
  {%- endif -%}
</style>

<header class="fixed top-0 left-0 right-0 w-full z-10 py-6 lg:px-6 px-1">
    
    <div class="menu-wrapper lg:px-4 px-1 flex flex-row w-full rounded-[5px]">
      {% comment %} <div class="menu-background w-full h-full"></div> {% endcomment %}
        <ul class="list-none lg:flex lg:flex-row w-1/3 justify-start h-full gap-x-5 items-center hidden text-black pt-0">
  
        {%- for link in section.settings.menu.links -%}
          <li class="flex justify-center items-center">
            <a
                href="{{ link.url }}"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                {{- link.title -}}
              </a>
          </li>
        {%- endfor -%}
        </ul>

        <div class="menu-icon lg:hidden flex justify-start w-1/3 py-1">
            {% comment %} <img class="ml-4" src="img/menu.svg" alt=""> {% endcomment %}
            <img type="button"
          class="tap-area w-16 {% if section.settings.layout != 'drawer' %}lg:hidden{% endif %}"
          aria-controls="header-sidebar-menu" src="{{ 'menu.png' | asset_url }}" width="" height="" loading="eager" alt="">
        </div>



        <div class="logo w-1/3 flex flex-row justify-center">
            <a href="/">
            {% comment %} {%- capture logo_content -%}
              {%- if section.settings.logo -%}
                {%- capture sizes -%}{{ section.settings.logo_max_width }}px{%- endcapture -%}
                {%- capture widths -%}{{ section.settings.logo_max_width | times: 2 | at_most: section.settings.logo.width }}, {{ section.settings.logo_max_width | times: 3 | at_most: section.settings.logo.width }}{%- endcapture -%}
                <span class="sr-only">{{ shop.name }}</span>
                {{- section.settings.logo | image_url: width: 100 | image_tag: sizes: sizes, widths: widths, class: 'h-full self-center' -}}
              {%- else -%}
                <span class="header__logo-text h4">{{ shop.name }}</span>
              {%- endif -%}
            {%- endcapture -%}
            {{ logo_content }} {% endcomment %}
            
            {%- if section.settings.logo != blank -%}
            {{-
                section.settings.logo
                | image_url: width: 2024
                | image_tag: loading: 'lazy', widths: '100,300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600',
                class:'h-full self-center w-auto'
            -}}
            {%- else -%}
            {{- 'image' | placeholder_svg_tag: 'aspect-short placeholder' -}}
            {%- endif -%}
            </a>
            {% comment %} <img src="img/logo.png" class="h-full self-center" alt=""> {% endcomment %}
            
        </div>

        <div class="icons w-1/3 flex flex-row justify-end items-center py-4">
          <a href="{{ routes.search_url }}" class="w-2/4 lg:w-1/6 flex lg:justify-end justify-center" aria-controls="search-drawer">
            <span class="sr-only">{{ 'header.general.open_search' | t }}</span>
            {%- render 'icon' with 'search' -%}
          </a>

          {%- if shop.customer_accounts_enabled -%}
            <a href="{{ routes.account_url }}" class="w-2/4 lg:w-1/6 flex lg:justify-end justify-center">
              <span class="sr-only">{{ 'header.general.open_account' | t }}</span>
              {%- render 'icon' with 'account' -%}
            </a>
          {%- endif -%}

          <a
            href="{{ routes.cart_url }}"
            data-no-instant
            class="w-2/4 lg:w-1/6 flex justify-end"
            {% if settings.cart_type != 'page' and request.page_type != 'cart' %}
              aria-controls="cart-drawer"
            {% endif %}
          >
            <span class="sr-only">{{ 'header.general.open_cart' | t }}</span>
            {%- render 'icon' with 'cart' -%}

            <div class="header__cart-count">
              <cart-count class="count-bubble {% if cart.item_count == 0 %}opacity-0{% endif %}" aria-hidden="true">
                {{- cart.item_count -}}
              </cart-count>
            </div>
          </a>
          {% comment %} <img class="ml-4" src="{{ cart.svg | img_url }}" width="" height="" loading="eager" alt="">
          <img class="ml-4" src="{{ love.svg | img_url }}" width="" height="" loading="eager" alt="">
          <img class="ml-4" src="{{ account.svg | img_url }}" width="" height="" loading="eager" alt=""> {% endcomment %}
            {% comment %} <img src="img/cart.svg" class="w-2/4 lg:w-1/4" alt="">
            <img src="img/love.svg" clas="w-2/4 lg:w-1/4" alt="">
            <img src="img/account.svg" class="w-2/4 lg:w-1/4" alt=""> {% endcomment %}
        </div>

    </div>
</header>


{%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  NAVIGATION MENU DRAWER
  --------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign main_menu = section.settings.sidebar_menu | default: section.settings.menu -%}
{%- assign secondary_menu = section.settings.secondary_menu -%}

{%- if main_menu.links.size > 0 or secondary_menu.links.size > 0 -%}
  <navigation-drawer
    mobile-opening="{{ section.settings.opening_from }}"
    open-from="left"
    id="header-sidebar-menu"
    class="navigation-drawer drawer {% if section.settings.layout != 'drawer' %}lg:hidden{% endif %}"
    {% if request.design_mode %}
      handle-section-events
    {% endif %}
  >
    <button
      is="close-button"
      aria-label="{{ 'general.accessibility.close' | t | escape }}"
      {%- if section.settings.opening_from == 'bottom' -%}
        class="sm-max:hidden"
      {%- endif -%}
    >
      {%- render 'icon' with 'close', width: 19, height: 19 -%}
    </button>

    {%- render 'navigation-panel',
      is_mega_menu: false,
      main_menu: main_menu,
      secondary_menu: secondary_menu,
      mobile_opening: section.settings.opening_from,
      layout: section.settings.layout,
      show_social_media: section.settings.show_social_media,
      show_country_selector: section.settings.show_country_selector,
      show_country_name: section.settings.show_country_name,
      show_country_flag: section.settings.show_country_flag,
      show_locale_selector: section.settings.show_locale_selector
    -%}
  </navigation-drawer>
{%- endif -%}

<script>
  document.documentElement.style.setProperty('--header-height', Math.round(document.getElementById('shopify-section-{{ section.id }}').clientHeight) + 'px');
</script>

{% schema %}
{
  "name": "Header",
  "class": "shopify-section--header",
  "tag": "header",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_on_scroll",
      "label": "Hide on scroll",
      "default": false
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "280 x 80px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 40,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "logo_mobile_max_width",
      "min": 25,
      "max": 170,
      "step": 5,
      "unit": "px",
      "label": "Mobile image width",
      "default": 100
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "sidebar_menu",
      "label": "Drawer menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "Secondary menu",
      "info": "This menu won't show dropdown items. For best results, limit the number of links to 1 or 2."
    },
    {
      "type": "select",
      "id": "menu_open_trigger",
      "label": "Open dropdown items on...",
      "info": "Click mode is forced on touch devices.",
      "options": [
        {
          "value": "hover",
          "label": "Hover"
        },
        {
          "value": "click",
          "label": "Click"
        }
      ],
      "default": "click"
    },
    {
      "type": "header",
      "content": "Mobile navigation"
    },
    {
      "type": "select",
      "id": "opening_from",
      "label": "Opening from",
      "options": [
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "info": "When centering navigation, you should limit your links to 5.",
      "options": [
        {
          "value": "logo_left_navigation_inline",
          "label": "Logo left, navigation inline"
        },
        {
          "value": "logo_left_navigation_center",
          "label": "Logo left, navigation center"
        },
        {
          "value": "logo_center_navigation_inline",
          "label": "Logo center, navigation inline"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "logo_left_navigation_inline"
    },
    {
      "type": "header",
      "content": "Social media",
      "info": "This will only show in the drawer navigation."
    },
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [markets settings.](/admin/settings/markets). For best user experience, we recommend to keep this setting off and to use the free [Shopify Geolocation app](https://apps.shopify.com/geolocation)."
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_flag",
      "label": "Show country flag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_country_name",
      "label": "Show country name",
      "default": false
    },
    {
      "type": "header",
      "content": "Transparent header",
      "info": "Add a section on first position which allows transparent header such as slideshow or image with text overlay."
    },
    {
      "type": "color",
      "id": "transparent_header_text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "Logo image",
      "info": "Use the same dimensions as main logo."
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "checkbox",
      "id": "reduce_padding",
      "label": "Reduce padding",
      "default": false
    },
    {
      "type": "range",
      "id": "background_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Background opacity",
      "default": 1
    },
    {
      "type": "range",
      "id": "background_blur_radius",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "Background blur radius",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_item",
          "label": "Menu item",
          "info": "Enter menu item to apply a mega menu dropdown. [Learn more](https://support.maestrooo.com/article/180-navigation-enabling-and-configuring-mega-navigation)."
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "horizontal",
              "label": "Horizontal"
            },
            {
              "value": "horizontal_center",
              "label": "Horizontal (centered)"
            },
            {
              "value": "drawer",
              "label": "Drawer"
            }
          ],
          "default": "horizontal"
        },
        {
          "type": "select",
          "id": "submenu_style",
          "label": "Submenu",
          "options": [
            {
              "value": "bold_text",
              "label": "Bold - text only"
            },
            {
              "value": "bold_heading",
              "label": "Bold - headings only"
            }
          ],
          "default": "bold_heading"
        },
        {
          "type": "header",
          "content": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image",
          "info": "1200 x 1200px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_heading_1",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "image_link_1",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "image_text_color_1",
          "label": "Heading",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image",
          "info": "1200 x 1200px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_heading_2",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "image_link_2",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "image_text_color_2",
          "label": "Heading",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image",
          "info": "1200 x 1200px .jpg recommended"
        },
        {
          "type": "text",
          "id": "image_heading_3",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "image_link_3",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "image_text_color_3",
          "label": "Heading",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Featured product"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "color",
          "id": "product_card_background",
          "label": "Card background"
        },
        {
          "type": "color",
          "id": "product_card_text_color",
          "label": "Card text"
        },
        {
          "type": "header",
          "content": "Appearance"
        },
        {
          "type": "select",
          "id": "promo_content_layout",
          "label": "Promotional content layout",
          "info": "To improve readability, layout can be changed automatically depending on the screen size, menu column count and promotional content. [Learn more](https://support.maestrooo.com/article/296-navigation-understanding-impact-mega-menu-strategy)",
          "options": [
            {
              "value": "grid",
              "label": "Grid"
            },
            {
              "value": "collage",
              "label": "Collage"
            },
            {
              "value": "carousel",
              "label": "Carousel"
            }
          ],
          "default": "grid"
        },
        {
          "type": "checkbox",
          "id": "stretch_promo",
          "label": "Stretch to fill",
          "default": false
        },
        {
          "type": "select",
          "id": "drawer_link_image",
          "label": "Drawer link image",
          "options": [
            {
              "value": "hide",
              "label": "Hide"
            },
            {
              "value": "show",
              "label": "Show product image"
            }
          ],
          "default": "hide"
        }
      ]
    },
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
    "presets": [
    {
      "name": "Collection list",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
